@font-face{
	font-family: 'Bonk-Offset';
	src: url("fonts/Bonkoff.ttf");
}
@font-face{
	font-family: "Atkinson";
	src: url("fonts/Atkinson-Hyperlegible-Regular-102.ttf");
}
@font-face{
	font-family: "Atkinson-Bold";
	src: url("fonts/Atkinson-Hyperlegible-Bold-102.ttf")
}

#title{
	font-family: "Bonk-Offset";
	text-align: center;
	font-size: 60px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#board{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
}

#boardHeader{
	border-bottom: 1px solid brown;
}

#boardHeader > div{
	float:left;
	width: 33.3%;
}

.button{
	font-family: "Atkinson-Bold";
	font-size: 24px;
	color: white;
	background-color: #f0332f;
	padding: 5px;
	border: none;
	&:hover{
		box-shadow: black 5px 5px;
	}
}

#newGame{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

#rulebook{
	margin-top: 5px;
	margin-left: 5px;
}

#playerName{
	text-align: center;
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 0px;
}

#playerPoints{
	text-align: center;
	margin-top: 0px;
}

#rackoCanvas{
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid black;
	margin-bottom: 5px;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	overflow: auto;
	background-color: #f0332f;
	padding: 10px;
}

.modal-content{
	background-color: white;
	margin: 2% auto;
	padding: 20px;
	padding-top: 5px;
	border: 1px solid black;
	width: 80%;
}

.close{
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&:hover{
		text-decoration: none;
		cursor: pointer;
	}
}

.modal-content *{
	font-family: "Atkinson-Bold";
	text-align: center;
}

.modal-content > ol > li{
	margin: 25px;
	margin-top: 10px;
}

#modal-title{
	font-family: "Bonk-Offset";
	font-size: 1.2em;
}

.inner-p{
	margin: 5px;
}

input[type="radio"]{
	display: none;
}

input[type="radio"] + label{
	border: 2px solid black;
	background-color: white;
	display: inline-block;
	height: 5%;
	width: 20%;
	font-size: 1.4em;
	padding: 2px;
}

input[type="radio"]:checked + label{
	background-color: #f0332f;
}

input[type="text"]{
	visibility: hidden;
	width: 30%;
	margin: 15px;
	text-align: left;
}

input[type="checkbox"]{
	visibility: hidden;
}

#playerNameForm{
	display:block;
	margin-top:5px;
}

.playerLabels{
	visibility: hidden;
}

.compCheckLabels{
	visibility: hidden;
}

#gameSubmit{
	text-align: center;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	display: flex;
	display: grid;
}

#turnButtons{
	display: flex;
	justify-content: center;
	margin: 5px;
	padding: 5px;
}
#turnButtons *{
	margin-right: 3px;
	margin-left: 3px;
	background-color: gray;
	&:hover{
		box-shadow: none;
	}
}

